/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/FungalVF.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  transition: background-color 1s ease-in-out, background-image 1s ease-in-out;
}


/* text ================================================ */
#mainText {
  font-family: 'variableFont';
  font-size: 200px;
  transition: font-variation-settings 1s ease-in-out, color 1s ease-in-out;
}

.variable1 {
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
  font-variation-settings: "THCK" 0, "grow" 0;
  color: red;
}

.variable2 {
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;  
  font-variation-settings: "THCK" 1000, "grow" 1000;
  color: blue;
}


/* Image ================================================ */
#image {
  width: 200px;
}


