/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/BuffaloGals_Var.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  transition: background-color 1s ease-in-out, background-image 1s ease-in-out;
}

button {
  font-size: 100px;
  padding: 20px;
  background-color: green;
  font-family: 'variableFont';
  color: black; 
  border: none;
}

button:hover {
  background-color: green;
  color: white;
  border: none;
}



/* text ================================================ */
#mainText {
  font-family: 'variableFont';
  font-size: 10vw;
  transition: font-variation-settings 1s ease-in-out, color 1s ease-in-out;
}

.variable0 {
	font-variation-settings: "CK  " 0, "FR  " 0, "HV  " 0, "CN  " 0, "BR  " 0, "TC  " 0;
  color: white;
}

.variable1 {
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;  
  font-variation-settings: "wght" 100, "ctst" 800;
  color: red;
  background-color: white;
  padding: 20px;
}

.variable2 {
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;  
  font-variation-settings: "wght" 100, "ctst" 0;
  color: green;
  background-color: white;
  padding: 20px;
}

.variable3 {
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;  
  font-variation-settings: "wght" 900, "ctst" 0;
  color: red;
  background-color: white;
  padding: 20px;
}

.variable4{
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;  
  font-variation-settings: "wght" 900, "ctst" 800;
  color: green;
  background-color: white;
  padding: 20px;
}

.variable9{
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;  
  font-variation-settings: "THCK" 0, "grow" 0;

  color: red;
  background-color: white;
  padding: 20px;

  animation: rainbowColor 4s linear infinite;
}

@keyframes rainbowColor {
  0%   { color: red; }
  16%  { color: orange; }
  33%  { color: yellow; }
  50%  { color: green; }
  66%  { color: blue; }
  83%  { color: indigo; }
  100% { color: violet; }
}




/* Image ================================================ */
#image {
  width: 700px;
  margin-top: 50px;
}


